<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :postal_code %><br>
    <%= f.text_field :postal_code, { onKeyUp: "AjaxZip3.zip2addr(this,'','user[prefecture_name]','user[city_name]', 'user[town_area_name]');" } %>
  </div>
  <div class="field">
    <%= f.label :prefecture_name %><br>
    <%= f.text_field :prefecture_name %>
  </div>
  <div class="field">
    <%= f.label :city_name %><br>
    <%= f.text_field :city_name %>
  </div>
  <div class="field">
    <%= f.label :town_area_name %><br>
    <%= f.text_field :town_area_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
